<template name="postItem">
  <div class="row">
    <div class="col-xs-12">
      <!-- post panel -->
      <div class="panel panel-default post">

        <!-- Dropdown menu of action for the posts -->
        <div class="dropdown">
          <span class="dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="[ glyphicon glyphicon-chevron-down ]"></span>
          </span>
          <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Subscribe</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">See more post from this user</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Delete</a></li>
          </ul>
        </div>

        <!-- List of post tags -->
        <div class="post-tags">
          <ul>
              <li>#Millennials</li>
              <li>#Generation</li>
          </ul>
        </div>
        <div class="panel-heading">
          <img class="img-circle pull-right hidden-xs" src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg" alt="Mouse0270" />
          <a href="#"><h4><strong>Fancy Title or Jack "posted" or "asked"</strong></h4></a>
        </div>
        <div class="panel-body">
          <p>Do people born in 2000 get to choose if they are Generation Y or Generation Z? How do you decide what generation you want to belong to? ...</p>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-info" id="voteUp">
            <span class="fa fa-arrow-up"></span>
          </button>
          <button type="button" class="btn btn-link disabled ">
            <span class="fa fa-heart"><small> 30</small></span>
          </button>
          <button class="btn btn-link disabled ">
            <span class="fa fa-eye"><small> 28</small></span>
          </button>
          <button class="btn btn-link hidden-xs">
            <span class="fa fa-share-square-o"></span>
          </button>
          <button class="btn btn-link">
            <span class="fa fa-check-square-o"><small> Solved</small></span>
          </button>
          <button class="btn btn-link hidden-xs">
            <span class="fa fa-star-o"><small></small></span>
          </button>
          <button class="btn btn-link hidden-xs">
            <span class="fa fa-flag-o"></span>
          </button>
          <button class="btn btn-link">
            <span class="fa fa-comments-o"><small> 24</small></span>
          </button>
          <button class="btn btn-link">
            <small>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More  <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">
                      <span class="fa fa-share-square-o"> Share</span>
                    </a></li>
                    <li><a href="#">
                      <span class="fa fa-check-square-o"> Fav it</span>
                    </a></li>
                    <li><a href="#">
                      <span class="fa fa-flag-o"> Report Spammy</span>
                    </a></li>
                  </ul>
                </li> <!-- end dropdown -->
            </small>
          </button>
        </div>
      </div> <!-- end panel -->
    </div>
  </div> <!-- end row -->

</template>