<template name="header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

      <!-- Logo and toggle -->
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Massivites</a>
      </div> <!-- end navbar-header -->

      <!-- categorical links -->
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Trending<span class="sr-only">(current)</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Top<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Today</a></li>
              <li><a href="#">This Week</a></li>
              <li><a href="#">This Month</a></li>
              <li><a href="#">This Year</a></li>
              <li><a href="#">All Time</a></li>
            </ul>
          </li> <!-- end dropdown -->
          <li><a href="#">Fresh</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Sell/Buy</a></li>
              <li><a href="#">Housing</a></li>
              <li><a href="#">Entertainment</a></li>
              <li><a href="#">Events</a></li>
            </ul>
          </li> <!-- end dropdown -->
        </ul> <!-- end left links category -->

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Open Questions</a></li>
          <li><a href="#">Ask?</a></li>
          <li><a href="#"><span class="fa fa-bolt"></span></a></li>
          <li><a href="#"><span class="fa fa-plus"></span></a></li>
          <li><a href="#"><span class="fa fa-search"></span></a></li>
          <li><a href="#"><span class="fa fa-sign-in"></span></a></li>
        </ul>

      </div>
    </div> <!-- end container-fluid -->
  </div> <!-- end main navbar -->
</template>